
@{
	ViewBag.Title = "TsRandomizer Tourmanent Seed Generator";
}

<div class="text-center">
	<h2 class="display-4">TsRandomizer Seed Generator</h2>
	<h1 class="display-4">Seed: @ViewBag.Seed</h1>
	<p>Generated seed in @ViewBag.TimeElapsed using @ViewBag.Iterations Iterations</p>
    <p>
        Using Flags:  <br />
        Start with jewelrybox <br />
        Downloadable Items <br />
        Specific Keycards <br />
        Inverted <br />
        Stinky Maw <br />
        Gyre Archives <br />
        Cantoran <br />
        Lore Checks <br />
        Tournament <br />
        Enter Sandman <br />
        Rising Tides <br />
        Unchained Keys <br />
        Trapped Chests <br />
    </p>
</div>